body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.heading {
    display: flex;
    margin-bottom: 150px;
}

.heading-content {
    width: 50%;
    padding-top: 110px;
    padding-left: 150px;
}

span {
    color: #fd974d;
    font-size: 40px;
    font-weight: 700;
}

.heading-content h1 {
    font-size: 40px;
    font-weight: 700;
}

.heading-content p {
    font-size: 15px;
    padding-bottom: 20px;
}

.heading-button {
    text-decoration: none;
    background-image: linear-gradient(#fd924a, #fd5030);
    padding: 15px 30px;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: 5px 5px 30px #fd924a;
}

.heading-image {
    width: 50%;
    padding-top: 10px;
}

.heading-image img {
    width: 80%;
}

.about {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.about-image {
    width: 50%;
    padding-top: 75px;
}

.about-content {
    width: 50%;
}

.about-image img {
    width: 50%;
    padding-left: 150px;
}

.about-content {
    padding-top: 130px;
}

.about-content h2 {
    font-size: 40px;
    font-weight: 400;
}

.about-content p {
    width: 65%;
    padding-bottom: 40px;
}

.food-services {
    background-image: url(images/Project Cover4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    text-align: center;
    padding-top: 150px;
}

.service-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.service-content p {
    color: lightsalmon;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 140px;
}